body {
  overflow-x: hidden;
}

.row {
  width: 85vw;
  margin-left: auto;
  margin-right: auto;
}

/* BLOCCO LEZIONI */
#lezioni .row > .left, #lezioni .row > .right{
  width: calc(90% / 2);
  float: left;
}

#lezioni .row > .left {
  margin-right: 10%;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* respomsive primo blocco */
@media screen and (max-width: 1000px) {

  #lezioni .row {
    width: 95vw;
    margin: 0 auto;
  }

  #lezioni > .row > .left, #lezioni .row > .right {
    float: none;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #lezioni .row {
    width: 95vw;
    margin: 0 auto;
  }

  #lezioni > .row > .left, #lezioni .row > .right {
    float: none;
    width: 100%;
  }

  #lezioni .row > .left h3, #lezioni  .row > .right h3 {
    text-decoration: underline;
  }

  #lezioni  .row > .left p, #lezioni  .row > .right p {
    color: green;
  }
}

/* BLOCCO STEPS */
#steps .row > .left,
#steps .row > .central,
#steps .row > .right{
  float: left;
  width: calc(90% /3);
}

#steps .row > .left, #steps .row > .central {
  margin-right: 5%;
}

#steps{
  text-align: center;
}

/* responsive secondo blocco */
@media screen and (max-width: 1000px) {
  #steps .row {
    width: 95%;
    margin: 0 auto;
  }

  #steps .row > .left, #steps .row > .central, #steps .row > .right {
    float: none;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid black;
  }
}

@media screen and (max-width: 400px) {
  #why .row {
    width: 95vw;
    margin: 0 auto;
  }

  #steps .row > .left h3, #steps  .row > .central h3, #steps  .row > .right h3 {
    text-decoration: underline;
  }

  #steps  .row > .left p, #steps  .row > .central p, #steps  .row > .right p {
    color: green;
  }

  #steps .row > .left, #steps .row > .central, #steps .row > .right {
    float: none;
    width: 100%;
    padding: 20px 0;
    border-bottom: 1px solid black;
  }
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
  width: 100%;
}

#why .row > .first,
#why .row > .second,
#why .row > .third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color:#428bca;
  border-radius:50%;
  padding:30px
}

/* responsive terzo blocco */

@media screen and (max-width: 400px) {
  #why .row {
    width: 95vw;
    margin: 0 auto;
  }

  #why .row > .first h3, #why .row > .second h3, #why .row > .third h3 {
    text-decoration: underline;
  }

  #why .row > .first p, #why .row > .second p, #why .row > .third p {
    color: green;
  }

  #why .row > .first, #why .row > .second, #why .row > .third {
    width: 100%;
  }
}
@media screen and (max-width: 1000px) {
  #why .row {
    width: 95vw;
    margin: 0 auto;
  }

  #why .row > .first, #why .row > .second, #why .row > .third {
    width: 100%;
  }
}

@media screen and (min-width: 1001px) {
  #why .row {
    width: 95vw;
  }

  #why .row::after {
    content: "";
    display: table;
    clear: both;
  }

  #why .row > .first, #why .row > .second, #why .row > .third {
    width: calc(90% / 3);
    float: left;
    margin-bottom: 100px;
  }

  #why .row > .first, #why .row > .second {
    margin-right: 5%;
  }

  #why .row hr{
    display: none;
  }
}



/* COMMON */

[background="grey"]{
  background-color: #f9f9f9;
}

img{
  height: 200px;
}

.clear {
  clear:both;
}
